<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body style="background-color: #b0e0e6">
    <div class="container marginAuto">
      <center>
        <h1 class="marginTop1 fontSize9vwMobile17vw fontFamilyGeorgia">
          Animalia
        </h1>
        <p class="margin1 fontSize1p2 grey">
          Ez a játék a Kölcsey Ferenc Gimnázium tanulók részére készült.
        </p>

        <div class="marginTop2">
          <h2 class="fontSize2rem fontFamilyGeorgia">
            🎮 Játék menete
          </h2>
          
          <table class="table table-striped bordered table-light alignCenter marginTop1">
            <thead class="thead-dark">
              <tr>
                <th scope="col" width="10%">#</th>
                <th scope="col">Lépés</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td class="text-left">Olvasd be a QR kódot az egyik állatos szekrényről</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td class="text-left">Add meg a beceneved</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td class="text-left">Ha feldob egy számot, keresd meg a szekrényben a cetlit amin ugyanaz a szám van, és találd ki milyen állat van mögötte</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td class="text-left">Ha egy állatnevet dob fel, találd ki melyik számú cetlihez tartozik</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td class="text-left">Figyelj, az idő is számít!</td>
              </tr>
            </tbody>
          </table>

          <h2 class="marginTop2 fontSize3rem fontFamilyGeorgia">
            🎯 Sok sikert!
          </h2>
        </div>
      </center>
    </div>
  </body>
</html>
