<!DOCTYPE html><html><head><%- include('partials/head') %></head>
  <body style="background-color: #b0e0e6">
    <div class="container marginAuto">
      <center>
        <h1 class="marginTop1 fontSize9vwMobile17vw fontFamilyGeorgia">
          Animalia
        </h1>
        <a class="margin2 black fontSize2remMobile6vw">Push</a>
        <div class="input-group mb-3 marginTop2 width30pcmobile90pc">
          <input
            type="number"
            class="form-control szekreny"
            placeholder="Szekrény"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mb-3 width30pcmobile90pc">
          <input
            type="text"
            class="form-control nev"
            placeholder="Név"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mb-3 width30pcmobile90pc">
          <input
            type="text"
            class="form-control szam"
            placeholder="Szám"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mb-3 width30pcmobile90pc">
          <input
            type="text"
            class="form-control url"
            placeholder="Kép url"
            aria-describedby="basic-addon1"
          />
        </div>

        <a class="btn btn-light margin1 btn-lg mentes">Mentés</a>
      </center>
    </div>
  </body>
</html>

<script>
  $.fn.enterPress = function (fnc) {
    return this.each(function () {
      $(this).keypress(function (ev) {
        var keycode = ev.keyCode ? ev.keyCode : ev.which;
        if (keycode == "13") {
          fnc.call(this, ev);
        }
      });
    });
  };

  $(".szekreny").enterPress(function () {
    $(".nev").focus();
  });
  $(".nev").enterPress(function () {
    $(".szam").focus();
  });
  $(".szam").enterPress(function () {
    $(".url").focus();
  });
  $(".url").enterPress(function () {
    $(".mentes").click();
  });

  $(".mentes").on("click", function () {
    var szekreny = $(".szekreny").val();
    var nev = $(".nev").val();
    var szam = $(".szam").val();
    var url = $(".url").val();

    $.ajax({
      type: "POST",
      url: "/push",
      dataType: "json",
      data: {
        szekreny: szekreny,
        nev: nev,
        szam: szam,
        url: url,
      },
      success: function (back) {
        console.log(back);
        Swal.fire(back.success + " elmentve", "", "success");
        $("input").val("");
      },
      error: function () {
        Swal.fire("Hiba", "", "error");
      },
    });
  });
</script>
